@use 'sass:color';

/* Colors */

// $background: #1a1b26;
$background: rgba(0, 0, 0, 0.8);
$accent: #f19cbb;
$active: color.change($accent, $alpha: 0.8);
$active-accent: $background;
// $active: color.scale($background, $lightness: -20%);

/* Font Sizes */

$font-size: 13px;
$tooltip-font-size: calc($font-size - 1px);
$icon-size: calc($font-size + 6px);

/* Spacing */

$waybar-margin-x: 20px;
$waybar-margin-top: 5px;
$module-margin-x: 0;
$module-item-spacing: 10px;
$drawer-item-spacing: 6px;

/* Misc */

$radius: 9999px;
$allow-top-radius: true;
