@forward '../constants.scss';

/* Font Sizes */

$font-size: 13px;
$tooltip-font-size: calc($font-size - 1px);
$icon-size: calc($font-size + 6px);

/* Spacing */

$waybar-margin-x: 20px;
$waybar-margin-top: 5px;
$module-margin-x: 0;
$module-item-spacing: 10px;
$drawer-item-spacing: 6px;

/* Misc */

$radius: 9999px;
$allow-top-radius: true;
