@use 'sass:color';
@use 'constants.scss' as *;
@use 'mixins/index.scss' as *;
@forward 'widgets/index.scss';

$waybar-margin-y: 0 !default;
$waybar-margin-x: 0 !default;

* {
  font-family: 'SF Pro Text', 'Inter', 'Segoe UI, NotoSans Nerd Font', sans-serif;
  font-size: $font-size;
  min-height: 0;
  padding: 0;
}

/* --- Waybar Container --- */
#waybar {
  background: transparent;
  color: $accent;
  font-weight: 500;

  > * {
    @include mt($waybar-margin-y);
    @include mx($waybar-margin-x);
    @include mb($waybar-margin-y + 5px);
    @include pb(10px);
  }
}

.modules-left,
.modules-center,
.modules-right {
  @include rounded($radius);
  border: $border-width solid $accent;
  box-shadow:
    0 0 10px $accent,
    0 0 20px color.adjust($accent, $lightness: -50%);

  // TODO: Utilize this if we ever figure out how to get it to work
  // *:hover {
  //   border-color: $accent;
  // }

  > :first-child > * {
    @include rounded-left($radius - $border-width);
  }

  > :last-child > * {
    @include rounded-right($radius - $border-width);
  }
}

/* --- Tooltip Styles --- */
tooltip {
  background-color: #1a1b26;
  color: #dddddd;
  padding: 5px 12px;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: $tooltip-font-size;
}
