@use 'constants.scss' as *;
@use 'mixins/index.scss' as *;
@forward 'widgets/index.scss';

$waybar-margin-top: 0 !default;
$waybar-margin-x: 0 !default;

* {
  font-family: 'SF Pro Text', 'Inter', 'Segoe UI, NotoSans Nerd Font', sans-serif;
  font-size: $font-size;
  min-height: 0;
  padding: 0;
}

/* --- Waybar Container --- */
#waybar {
  background: transparent;
  color: $accent;
  font-weight: 500;

  > * {
    @include mt($waybar-margin-top);
    @include mx($waybar-margin-x);
  }
}

.modules-left,
.modules-center,
.modules-right {
  > :first-child > * {
    @include rounded-left($radius);
  }

  > :last-child > * {
    @include rounded-right($radius);
  }
}

/* --- Tooltip Styles --- */
tooltip {
  background-color: #1a1b26;
  color: #dddddd;
  padding: 5px 12px;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-size: $tooltip-font-size;
}
