@use 'sass:color';
@use '../constants.scss' as *;
@use '../mixins/index.scss' as *;

#gbluetooth {
  @include drawer(true);

  #bluetooth {
    &:not(.name) {
      color: $accent;
      font-size: $icon-size;

      &.connected {
        color: color.scale($accent, $lightness: 80%);
      }
    }
  }

  &:hover #bluetooth:not(.name) {
    color: black;
  }
}
