@use '../constants.scss' as *;
@use './padding.scss' as *;

$module-margin-x: 0 !default;

@mixin widget() {
  background-color: $background;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  min-width: 0;
  border: none;
  /* Transition for background-color and color only */
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover {
    background-color: $active;
  }

  @include py(0.4rem);
  @include px(0.7rem);

  @if $module-margin-x != 0 {
    &:first-child {
      @include pl($module-margin-x);
    }
  }

  @if $module-margin-x != 0 {
    &:last-child {
      @include pr($module-margin-x);
    }
  }
}
