@use '../constants.scss' as *;
@use '../mixins/index.scss' as *;

#gbluetooth {
  @include drawer(true);

  #bluetooth {
    &:not(.name) {
      color: #888888;
      font-size: $icon-size;

      &.on {
        color: #2196f3;
      }

      &.connected {
        color: #99d1db;
      }
    }
  }
}
