@use '../constants.scss' as *;
@use '../mixins/index.scss' as *;

#gbluetooth {
  @include widget();
}

#bluetooth {
  color: #888888;
  font-size: 16px;

  &.on {
    color: #2196f3;
  }

  &.connected {
    color: #99d1db;
  }
}

#custom-bluetooth-name {
  @include ml(6px);
}
