@use '../constants.scss' as *;
@use '../mixins/index.scss' as *;

#bluetooth {
  @include widget();

  color: #888888;
  font-size: 16px;

  &.on {
    color: #2196f3;
  }

  &.connected {
    color: #99d1db;
  }
}
